body {
    margin: 0;
    background-color: #F8F8F8;  
}

header {
    display: inline-block;
    width: 1200px;
    margin-left: calc(50% - 600px);
    background-color: yellow;
}

header > img {
    float: left;
}

nav {
    float: right;
}

a {

}

main {
    display: inline-block;
    width: 1200px;
    margin-left: calc((100% - 1200px) / 2);
    background-color: pink;
}

div {
    float: left;
}

h1 {

}

p {

}

main > img {
    float: right;
}

