body {
    margin: 0;
    background-color: #F8F8F8;  
}

header {
    width: 1200px;
    float: left;
    margin-left: calc(50% - 600px);
    background-color: yellow;
}

header > img {
    float: left;
    /* width: 100px; */
    height: 100px;
    object-fit: contain;
    background-color: blue;
}

nav {
    float: right;
}

nav > a {

}

main {
    float: left;
    width: 1200px;
    margin-left: calc((100% - 1200px) / 2);
    background-color: pink;
}

div {
    float: left;
    width: 42%;
    margin-left: 2%;
    margin-right: 2%;
}

h1 {
}

p {
}

main > img {
    float: right;
    width: 50%;
    margin-left: 2%;
    margin-right: 2%;
}

